In [1]:
#importing Libraries
import pandas as pd 
import numpy as np

In [2]:
#Reading data
df=pd.read_csv(r'C:\Users\Abd AL-Rahman\Desktop\sparks foundation Tasks\globalterrorismdb_0718dist.csv',encoding='latin-1')

C:\Users\Abd AL-Rahman\AppData\Local\Temp\ipykernel_15656\3185920444.py:2: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r'C:\Users\Abd AL-Rahman\Desktop\sparks foundation Tasks\globalterrorismdb_0718dist.csv',encoding='latin-1')

In [3]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [4]:
df.shape

(181691, 135)

In [5]:
#checking nulls
nullvalues=df.isnull().sum().values

In [6]:
#finding columns that have more than 5000 nulls
len(nullvalues[nullvalues>5000])

94

In [7]:
#creating list of columns that have more than 5000 null values to drop 
columnstodrop=df.isnull().sum().sort_values(ascending=False)[:94].index.tolist()

In [8]:
#droping columns 
df.drop(columnstodrop,axis=1,inplace=True)

In [9]:
df.shape

(181691, 41)

In [10]:
df['natlty1_txt'].value_counts()

Iraq                              24113
Pakistan                          13900
India                             12098
Afghanistan                       10931
Colombia                           7922
                                  ...
People's Republic of the Congo        1
Saba (Netherlands Antilles)           1
Tuvalu                                1
Western Sahara                        1
Marshall Islands                      1
Name: natlty1_txt, Length: 215, dtype: int64

In [11]:
df.drop(['ishostkid'],axis=1,inplace=True)

In [12]:
df.drop(['guncertain1'],axis=1,inplace=True)

In [13]:
df.isna().sum()

eventid               0
iyear                 0
imonth                0
iday                  0
extended              0
country               0
country_txt           0
region                0
region_txt            0
provstate           421
city                434
latitude           4556
longitude          4557
specificity           6
vicinity              0
crit1                 0
crit2                 0
crit3                 0
doubtterr             1
multiple              1
success               0
suicide               0
attacktype1           0
attacktype1_txt       0
targtype1             0
targtype1_txt         0
target1             636
natlty1            1559
natlty1_txt        1559
gname                 0
individual            0
weaptype1             0
weaptype1_txt         0
property              0
dbsource              0
INT_LOG               0
INT_IDEO              0
INT_MISC              0
INT_ANY               0
dtype: int64

In [14]:
CountriesList=df['country_txt'].unique().tolist()

In [15]:
CountriesList

['Dominican Republic',
 'Mexico',
 'Philippines',
 'Greece',
 'Japan',
 'United States',
 'Uruguay',
 'Italy',
 'East Germany (GDR)',
 'Ethiopia',
 'Guatemala',
 'Venezuela',
 'West Germany (FRG)',
 'Switzerland',
 'Jordan',
 'Spain',
 'Brazil',
 'Egypt',
 'Argentina',
 'Lebanon',
 'Ireland',
 'Turkey',
 'Paraguay',
 'Iran',
 'United Kingdom',
 'Colombia',
 'Bolivia',
 'Nicaragua',
 'Netherlands',
 'Belgium',
 'Canada',
 'Australia',
 'Pakistan',
 'Zambia',
 'Sweden',
 'Costa Rica',
 'South Yemen',
 'Cambodia',
 'Israel',
 'Poland',
 'Taiwan',
 'Panama',
 'Kuwait',
 'West Bank and Gaza Strip',
 'Austria',
 'Czechoslovakia',
 'India',
 'France',
 'South Vietnam',
 'Brunei',
 'Zaire',
 "People's Republic of the Congo",
 'Portugal',
 'Algeria',
 'El Salvador',
 'Thailand',
 'Haiti',
 'Sudan',
 'Morocco',
 'Cyprus',
 'Myanmar',
 'Afghanistan',
 'Peru',
 'Chile',
 'Honduras',
 'Yugoslavia',
 'Ecuador',
 'New Zealand',
 'Malaysia',
 'Singapore',
 'Botswana',
 'Jamaica',
 'Chad',
 'North Yemen',
 'Andorra',
 'Syria',
 'South Korea',
 'United Arab Emirates',
 'South Africa',
 'Kenya',
 'Iraq',
 'Somalia',
 'Tanzania',
 'Sri Lanka',
 'Namibia',
 'Bahamas',
 'Nigeria',
 'Barbados',
 'Trinidad and Tobago',
 'Bangladesh',
 'Angola',
 'Mauritania',
 'Saudi Arabia',
 'Djibouti',
 'Indonesia',
 'Malta',
 'Rhodesia',
 'Soviet Union',
 'Denmark',
 'Western Sahara',
 'Guyana',
 'Mozambique',
 'Tunisia',
 'Uganda',
 'Norway',
 'Lesotho',
 'Gabon',
 'Libya',
 'Bahrain',
 'Hong Kong',
 'Senegal',
 'Zimbabwe',
 'Guinea',
 'Grenada',
 'New Hebrides',
 'Belize',
 'Guadeloupe',
 'Martinique',
 'Vatican City',
 'Albania',
 'Central African Republic',
 'Seychelles',
 'Dominica',
 'Qatar',
 'Bulgaria',
 'Suriname',
 'Swaziland',
 'Luxembourg',
 'Iceland',
 'French Guiana',
 'Falkland Islands',
 'Burkina Faso',
 'New Caledonia',
 'Romania',
 'Niger',
 'Nepal',
 'Togo',
 'Finland',
 'Fiji',
 'Ghana',
 'Maldives',
 'Mauritius',
 'Hungary',
 'Laos',
 'Papua New Guinea',
 'China',
 'Liberia',
 'Republic of the Congo',
 'Mali',
 'Germany',
 'Yemen',
 'Rwanda',
 'Sierra Leone',
 'Cameroon',
 'Cuba',
 'Croatia',
 'Georgia',
 'Azerbaijan',
 'Madagascar',
 'Lithuania',
 'Burundi',
 'Ukraine',
 'Moldova',
 'Armenia',
 'Russia',
 'Ivory Coast',
 'Kazakhstan',
 'Antigua and Barbuda',
 'Bosnia-Herzegovina',
 'Equatorial Guinea',
 'Tajikistan',
 'Malawi',
 'Uzbekistan',
 'Latvia',
 'Estonia',
 'Vietnam',
 'Comoros',
 'Benin',
 'Slovak Republic',
 'Macedonia',
 'Wallis and Futuna',
 'Belarus',
 'Czech Republic',
 'Slovenia',
 'Gambia',
 'North Korea',
 'Eritrea',
 'St. Kitts and Nevis',
 'French Polynesia',
 'Macau',
 'Kyrgyzstan',
 'Vanuatu',
 'Democratic Republic of the Congo',
 'Kosovo',
 'Solomon Islands',
 'East Timor',
 'St. Lucia',
 'Guinea-Bissau',
 'Montenegro',
 'International',
 'Turkmenistan',
 'Serbia-Montenegro',
 'Bhutan',
 'Serbia',
 'South Sudan']

In [23]:
from geopy.geocoders import Nominatim
geo=Nominatim(user_agent='Singularity')

In [24]:
CountryGeoFeatures=[]
CountriesNulls=[]
for c in CountriesList:
    loc=geo.geocode(c)
    if loc==None:
        CountriesNulls.append(c)
    else:
        CountryGeoFeatures.append(tuple((c,loc.latitude,loc.longitude)))

In [25]:
CountriesNulls

['East Germany (GDR)',
 'West Bank and Gaza Strip',
 "People's Republic of the Congo"]

In [33]:
CountriesNullsModifying=['East Germany','Gaza Strip','Republic of the Congo']
for country in CountriesNullsModifying:
    loc=geo.geocode(country)
    CountryGeoFeatures.append(tuple((country,loc.latitude,loc.longitude)))

In [35]:
CountryGeoFeatures[:4]

[('Dominican Republic', 19.0974031, -70.3028026),
 ('Mexico', 23.6585116, -102.0077097),
 ('Philippines', 12.7503486, 122.7312101),
 ('Greece', 38.9953683, 21.9877132)]

In [36]:
df['country_txt'].replace('East Germany (GDR)','East Germany',inplace=True)
df['country_txt'].replace('West Bank and Gaza Strip','Gaza Strip',inplace=True)
df['country_txt'].replace("People's Republic of the Congo",'Republic of the Congo',inplace=True)

In [66]:
df[(df['latitude'].isnull())&(df['longitude'].isnull())][['latitude','longitude']]

        latitude  longitude
16           NaN        NaN
103          NaN        NaN
132          NaN        NaN
165          NaN        NaN
210          NaN        NaN
...          ...        ...
180885       NaN        NaN
181112       NaN        NaN
181300       NaN        NaN
181351       NaN        NaN
181542       NaN        NaN

[4556 rows x 2 columns]

In [67]:
indicies=df[(df['latitude'].isnull())&(df['longitude'].isnull())][['latitude','longitude']].index.tolist()

In [68]:
for i in indicies:
    for country in CountryGeoFeatures:
        if df['country_txt'][i]==country[0]:
            df['latitude'][i]=country[1]
            df['longitude'][i]=country[2]

C:\Users\Abd AL-Rahman\AppData\Local\Temp\ipykernel_15656\1670511041.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['latitude'][i]=country[1]
C:\Users\Abd AL-Rahman\AppData\Local\Temp\ipykernel_15656\1670511041.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['longitude'][i]=country[2]

In [80]:
df.isnull().sum()

eventid               0
iyear                 0
imonth                0
iday                  0
extended              0
country               0
country_txt           0
region                0
region_txt            0
provstate           421
city                434
latitude              0
longitude             1
specificity           6
vicinity              0
crit1                 0
crit2                 0
crit3                 0
doubtterr             1
multiple              1
success               0
suicide               0
attacktype1           0
attacktype1_txt       0
targtype1             0
targtype1_txt         0
target1             636
natlty1            1559
natlty1_txt        1559
gname                 0
individual            0
weaptype1             0
weaptype1_txt         0
property              0
dbsource              0
INT_LOG               0
INT_IDEO              0
INT_MISC              0
INT_ANY               0
dtype: int64

In [82]:
df[df['longitude'].isnull()]['city']

53821    Tema
Name: city, dtype: object

In [89]:
df['longitude'][53821]=geo.geocode('Tema').longitude

C:\Users\Abd AL-Rahman\AppData\Local\Temp\ipykernel_15656\1287063113.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['longitude'][53821]=geo.geocode('Tema').longitude

In [90]:
df.isnull().sum()

eventid               0
iyear                 0
imonth                0
iday                  0
extended              0
country               0
country_txt           0
region                0
region_txt            0
provstate           421
city                434
latitude              0
longitude             0
specificity           6
vicinity              0
crit1                 0
crit2                 0
crit3                 0
doubtterr             1
multiple              1
success               0
suicide               0
attacktype1           0
attacktype1_txt       0
targtype1             0
targtype1_txt         0
target1             636
natlty1            1559
natlty1_txt        1559
gname                 0
individual            0
weaptype1             0
weaptype1_txt         0
property              0
dbsource              0
INT_LOG               0
INT_IDEO              0
INT_MISC              0
INT_ANY               0
dtype: int64

In [113]:
df[(df['natlty1'].isnull())&(df['natlty1_txt'].isnull())][['natlty1','natlty1_txt']]

        natlty1 natlty1_txt
104         NaN         NaN
108         NaN         NaN
110         NaN         NaN
290         NaN         NaN
697         NaN         NaN
...         ...         ...
181500      NaN         NaN
181538      NaN         NaN
181580      NaN         NaN
181633      NaN         NaN
181634      NaN         NaN

[1559 rows x 2 columns]

In [114]:
888.0 in df['natlty1'].unique()

False

In [115]:
df['natlty1'].fillna(888.0,inplace=True)

In [116]:
df['natlty1_txt'].fillna('Unknown',inplace=True)

In [117]:
df['target1'].fillna('Unknown',inplace=True)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Data columns (total 39 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   eventid          181691 non-null  int64
 1   iyear            181691 non-null  int64
 2   imonth           181691 non-null  int64
 3   iday             181691 non-null  int64
 4   extended         181691 non-null  int64
 5   country          181691 non-null  int64
 6   country_txt      181691 non-null  object
 7   region           181691 non-null  int64
 8   region_txt       181691 non-null  object
 9   provstate        181270 non-null  object
 10  city             181257 non-null  object
 11  latitude         181691 non-null  float64
 12  longitude        181691 non-null  float64
 13  specificity      181685 non-null  float64
 14  vicinity         181691 non-null  int64
 15  crit1            181691 non-null  int64
 16  crit2            181691 non-null  int64
 17  crit3            181691 non-null  int64
 18  doubtterr        181690 non-null  float64
 19  multiple         181690 non-null  float64
 20  success          181691 non-null  int64
 21  suicide          181691 non-null  int64
 22  attacktype1      181691 non-null  int64
 23  attacktype1_txt  181691 non-null  object
 24  targtype1        181691 non-null  int64
 25  targtype1_txt    181691 non-null  object
 26  target1          181691 non-null  object
 27  natlty1          181691 non-null  float64
 28  natlty1_txt      181691 non-null  object
 29  gname            181691 non-null  object
 30  individual       181691 non-null  int64
 31  weaptype1        181691 non-null  int64
 32  weaptype1_txt    181691 non-null  object
 33  property         181691 non-null  int64
 34  dbsource         181691 non-null  object
 35  INT_LOG          181691 non-null  int64
 36  INT_IDEO         181691 non-null  int64
 37  INT_MISC         181691 non-null  int64
 38  INT_ANY          181691 non-null  int64
dtypes: float64(6), int64(22), object(11)
memory usage: 54.1+ MB

In [119]:
df.isnull().sum()

eventid              0
iyear                0
imonth               0
iday                 0
extended             0
country              0
country_txt          0
region               0
region_txt           0
provstate          421
city               434
latitude             0
longitude            0
specificity          6
vicinity             0
crit1                0
crit2                0
crit3                0
doubtterr            1
multiple             1
success              0
suicide              0
attacktype1          0
attacktype1_txt      0
targtype1            0
targtype1_txt        0
target1              0
natlty1              0
natlty1_txt          0
gname                0
individual           0
weaptype1            0
weaptype1_txt        0
property             0
dbsource             0
INT_LOG              0
INT_IDEO             0
INT_MISC             0
INT_ANY              0
dtype: int64

In [120]:
df[df['city'].isnull()][['latitude','longitude']]

         latitude   longitude
79458    6.190088  101.797961
79459    6.700696  101.433915
79550    6.700696  101.433915
79583    6.202025  101.252379
79952    6.202025  101.252379
...           ...         ...
103120  26.823447   18.123672
103403  30.293114   47.292389
103453  -2.534382  140.709304
103530  -2.534382  140.709304
103543  34.963098   68.810885

[434 rows x 2 columns]

In [121]:
IndicioesOfNullCities=df[df['city'].isnull()][['latitude','longitude']].index

In [122]:
RawsCantProvideCity=[]
for i in IndicioesOfNullCities:
    try:
        loc=geo.reverse(str(df['latitude'][i])+','+str(df['longitude'][i]),language='en')
        dic=loc.raw['address']
        df['city'][i]=dic['city']
    except:
        RawsCantProvideCity.append(i)

C:\Users\Abd AL-Rahman\AppData\Local\Temp\ipykernel_15656\1686934733.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['city'][i]=dic['city']

In [123]:
len(RawsCantProvideCity)

378

In [128]:
Indicies_Of_Null_ProvState=df[df['provstate'].isnull()][['latitude','longitude']].index.tolist()

In [129]:
RawsCantProvideProvState=[]
for x in Indicies_Of_Null_ProvState:
    try:
        loc=geo.reverse(str(df['latitude'][i])+','+str(df['longitude'][i]),language='en')
        dic=loc.raw['address']
        df['provstate'][i]=dic['state']
    except:
        RawsCantProvideProvState.append(i)

C:\Users\Abd AL-Rahman\AppData\Local\Temp\ipykernel_15656\413147863.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['provstate'][i]=dic['state']

In [130]:
len(RawsCantProvideProvState)

0

In [131]:
df.isnull().sum()

eventid              0
iyear                0
imonth               0
iday                 0
extended             0
country              0
country_txt          0
region               0
region_txt           0
provstate          421
city               378
latitude             0
longitude            0
specificity          6
vicinity             0
crit1                0
crit2                0
crit3                0
doubtterr            1
multiple             1
success              0
suicide              0
attacktype1          0
attacktype1_txt      0
targtype1            0
targtype1_txt        0
target1              0
natlty1              0
natlty1_txt          0
gname                0
individual           0
weaptype1            0
weaptype1_txt        0
property             0
dbsource             0
INT_LOG              0
INT_IDEO             0
INT_MISC             0
INT_ANY              0
dtype: int64

In [132]:
'Unknown' in df['city'].unique()

True

In [133]:
'Unknown' in df['provstate'].unique()

True

In [134]:
df[['provstate','city']]=df[['provstate','city']].fillna('Unknown')

In [135]:
df.isnull().sum()

eventid            0
iyear              0
imonth             0
iday               0
extended           0
country            0
country_txt        0
region             0
region_txt         0
provstate          0
city               0
latitude           0
longitude          0
specificity        6
vicinity           0
crit1              0
crit2              0
crit3              0
doubtterr          1
multiple           1
success            0
suicide            0
attacktype1        0
attacktype1_txt    0
targtype1          0
targtype1_txt      0
target1            0
natlty1            0
natlty1_txt        0
gname              0
individual         0
weaptype1          0
weaptype1_txt      0
property           0
dbsource           0
INT_LOG            0
INT_IDEO           0
INT_MISC           0
INT_ANY            0
dtype: int64

In [137]:
df.to_csv('terrorism_data.csv', index=False)